.main-page {
  font-family: 'Roboto Mono';
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-bottom: 25px;

  .roulette-button {
    margin: 0 auto;
    padding: 15px;
  }

  .image-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    margin: 0 auto;

    .image {
      border-color: black;
      max-width: 50%;
      max-height: 50%;
      border-width: 2px;
      border-style: solid;
    }
    
    .option {
      padding: 10px 15px;
      cursor: pointer;
      color: white;
    }
  }
}